@import '../../sass/utilities/variables';
@import '../../sass//utilities/mixin';
@import '../../sass/utilities/extend';

.editContainer {
  @include wH(100vw, 100vh);
  display: flex;
  justify-content: center;
  align-items: center;


  form {
    @include wH(45%, 37.5rem);

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $white;
    box-shadow: 0 0 1rem 0 $black;
    padding: 2.5rem;

    input[type="text"] {
      @include wH(60%, 4rem);

      background: transparent;
      color: $white;
      border: 0;
      outline: none;
      border-bottom: 0.1rem solid $black;
      padding-left: 1rem;
      border-radius: 0;
      font-size: 2rem;
      color: $black;
    }

    span {
      font-size: 2.5rem;
      color: $black;
    }

    .editContainer_child {
      width: 53rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .saveBtn {
      @include wH(15rem, 3.5rem);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -10rem;
      right: 30%;
      border: 0.1rem solid $white;
      outline: none;
      border-radius: 1rem;
      background: transparent;
      font-size: 2rem;
      color: $black;
      text-decoration: none;
      transition: background 2s ease;
      box-shadow: 0 0 0.5rem 0.1rem $black;
    }

    .returnBtn {
      @extend .saveBtn;

      left: 30%;
    }

    .saveBtn:hover {
      @extend .buttonHover;
    }

    .saveBtn:active {
      transform: scale(0.9)
    }
  }
}